:root{
  --vermelho-padrão: #dd1d27;
  --cinza-footer-e-bordas: #8B8B8B;
  --branco: #fff;
  --vemelho-da-mão: #920000;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "MuseoModerno", sans-serif;
  overflow-x: hidden;
}
